<HTML>
    <HEAD>
    <TITLE>음악 장르 설문조사</TITLE>
     </HEAD>
     <SCRIPT LANGUAGE="JavaScript">
    <!--
    function check()
    {
     if(document.member.id.value=="")
     {
      alert("id를 입력하세요");
      document.member.id.focus();
      return;
     }
     
     if(document.member.pwd.value=="")
     {
      alert("password를 입력하세요")
      document.member.pwd.focus();
      return;
     }
     
     document.member.submit();
    }
    //  -->
    </SCRIPT>
    <BODY>
     <H2>음악 장르 설문조사</H2>
    <form name="member" method="post" action="member.asp">
    아이디: <input type="text" name="id" size=10>
     <BR>
    패스워드:<input type="PASSWORD" name="pwd" size=10><BR>
    성별:<input type="RADIO" size=10 NAME="GENDER" VALUE="남" CHECKED>남
    <input type="RADIO" size=10 NAME="GENDER" VALUE="여">여<BR>
    나이:<input type="RADIO" size=10 NAME="age" VALUE="10대" CHECKED>10대
    <input type="RADIO" size=10 NAME="age" VALUE="20대">20대
    <input type="RADIO" size=10 NAME="age" VALUE="30대">30대
    <input type="RADIO" size=10 NAME="age" VALUE="40대">40대<BR>
    장르:<input type="RADIO" size=10 NAME="genre" VALUE="힙합" CHECKED>힙합
    <input type="RADIO" size=10 NAME="genre" VALUE="발라드">발라드
    <input type="RADIO" size=10 NAME="genre" VALUE="댄스">댄스
    <input type="RADIO" size=10 NAME="genre" VALUE="R&B">R&B
    <input type="RADIO" size=10 NAME="genre" VALUE="트로트">트로트
    <input type="RADIO" size=10 NAME="genre" VALUE="Jazz">Jazz
    <input type="RADIO" size=10 NAME="genre" VALUE="클래식">클래식
    <input type="RADIO" size=10 NAME="genre" VALUE="락">락<BR>
    취미:<input type="CHECKBOX"  NAME="HOB1" VALUE="등산">등산
    <input type="CHECKBOX"  NAME="HOB2" VALUE="영화보기">영화보기<BR>
    직업<SELECT NAME="JOB">
      <OPTION VALUE="학생">학생
      <OPTION VALUE="직장인">직장인
      <OPTION VALUE="교수">교수
      <OPTION VALUE="백수">백수
     </SELECT>
    <p>
    <table border="0" cellpadding="5" cellspacing="0" width="95%">
       <tr>
        <td>
        <font size=2>어디서 주로 들으십니까?"</font>
        </td>
       </tr>
       <tr>
                    <td>
         <INPUT name="ans" type="radio" value="1" checked>
         <font size="2">1.실외</font>
      
         <INPUT name="ans" type="radio" value="2">
         <font size="2">2.실내.<br></font>
        
        </TD>
       </TR>
       <tr>
        <td>
        <INPUT type="button"  value="확인"  onclick="check()">
        <INPUT type="button" value="취소" onclick="history.back();">
        </td>
       </tr>   
    </table>
    </form>
    </BODY>
    </HTML>